# Batch Jobs

https://stackoverflow.com/questions/51696655/read-multiple-parquet-files-in-a-folder-and-write-to-single-csv-file-using-pytho

entries = os.listdir('my_directory/')
    for entry in entries:
        print(entry)

df.to_parquet('df.parquet.brotli',compression='brotli')
df = pd.read_parquet('df.parquet.brotli')

## IMPORT DATA FROM CONSUMER 1 PARQUE FILES

In [12]:

from pathlib import Path
import pandas as pd
/
data_dir = Path("/home/jovyan/work/Data/detail/date_only=2017-12-01")
full_df = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)

full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3181 entries, 0 to 58
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    3181 non-null   object
 1   business_id  3181 non-null   object
 2   user_id      3181 non-null   object
 3   stars        3181 non-null   object
 4   time_only    3181 non-null   object
 5   date_hour    3181 non-null   object
 6   date_minute  3181 non-null   object
 7   date_time    0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 223.7+ KB

In [13]:
full_df.head(100)

,review_id,business_id,user_id,stars,time_only,date_hour,date_minute,date_time
0,"""WE-J-aRKelIEAGPenxQGPw",OK10DklrEE8xU1mWK9-yFQ,5A6Ts1Q-UeeUqtOxQpyYFw,4,03:42:30,3,42,NaT
1,"""GNsWzCyUCZA11I08Gi2Z0Q",hezRGTnkTFEnB3i8b9OCyw,NWjOxPJuTuz7oWGBk-Q6ZA,4,03:43:52,3,43,NaT
2,"""BzBR6ZBO9kkwHSMvP9r4Dg",6okBFSsondq1TBdXfWdmiA,cmDcM0TDqTbSkHaIX0dzBg,5,03:44:30,3,44,NaT
3,"""d_36Sfphcr0mbRIA3bTv-w",6BAAyFv-3QFMMXa8HXdapQ,lEyAC9Fhf5REbfeXZQ16vw,2,03:45:23,3,45,NaT
4,"""lxOzmd2LHSq-aTqvmqp4XA",3yA4Z__yZdPtrcVfWVfqBQ,oniMm2Np2_QmcMwIbIxmaA,3,03:45:58,3,45,NaT
...,...,...,...,...,...,...,...,...
35,"""JbPa9yvmpLdpX8sCgA-_zg",50vfUjCx0_8DYK4VT1n_wg,9ldrJbrKaVkoIacQBRJdiw,5,18:31:29,18,31,NaT
36,"""I1MN9FIx4pLfjGcL7aCRGg",wMVIMUfBQa5ijR_ZLr_67Q,O90vtDOGrXHcqsQe0ej4qg,1,18:32:06,18,32,NaT
37,"""MqySyiyIJK1jFd80x_4fyg",ki6qk2hoNS_HagBz3LEZuw,1wG_QyDeiEXg4OSHcf9TMQ,2,18:32:42,18,32,NaT
38,"""Sr7YETXjasP7k-htyeyOyw",plEh_VdvGNzu2i-cwGDUHw,OIFw7RKFU6KeX2_bLXYmWQ,4,18:32:57,18,32,NaT
39,"""QmWGrv0yhgOYAUULU2UMbw",2Ku5f8dfaGU_ldkxcMWKgg,g_HMPPvkJpYbpbfv84WhrQ,4,18:33:11,18,33,NaT

import glob
 files = glob.glob("*.snappy.parquet")
 data = [pd.read_parquet(f,engine='fastparquet') for f in files]
 merged_data = pd.concat(data,ignore_index=True)

import pandas as pd    
df = pd.read_parquet('path/to/the/parquet/files/directory')

## WRITE TO CASSANDRA TABLE